*{
    margin:0px;
    padding:0px;
}
html, body{
    height:100%;
    background:black;
    font-size:12px;
    font-family:Calibri, sans-serif;
}
#wrapper{
    position:relative;
    height:auto !important;
    min-height:100%;
    overflow:hidden;
}
        /* UP NAV BAR */
        .up-nav-bar{
            display:block;
            width:100% !important;
            height:74px;
            background:url("../images/ui/bg-root-navbalk.png") repeat-x;
            position:absolute;
            top:0;
            left:0;
            z-index:1;
        }
        .up-nav-bar div.logo{
            display:block;
            float:left;
            width:124px;
            height:65px;
            text-align:center;
            background:url("../images/ui/nav-bar-divider.png") no-repeat right top;
        }
        .up-nav-bar div.logo img{
            margin-top:5px;
        }
        .up-nav-bar .profiles{
            float:left;
            overflow:hidden;
            margin-top:-136px;
            margin-left:257px;
        }
        .up-nav-bar .profiles .wrapper{
            position:relative;
            top:0px;
            left:0px;
        }
        .up-nav-bar .profiles .wrapper div{
            float:left;
            background:url("../images/ui/nav-bar-divider.png") no-repeat right top;
            display:none;
            width:228px;
            height:57px;
        }
        .up-nav-bar .profiles .wrapper div img{
            display:block;
            margin:7px 0px 0px 2px;
            float:left;
            z-index:2;
        }
        .up-nav-bar .profiles .wrapper div div{
            background:url("../images/ui/pos-10.png");
            -webkit-border-radius:5px;
            float:left;
            margin:7px 0px 0px 2px;
            width:163px;
            height:50px;
            z-index:1;
            color:#EFEFEF;
        }
        .up-nav-bar .profiles .wrapper div div img{
            margin:3px 5px 0px 3px;
        }
        .up-nav-bar .profiles .wrapper div div a.close{
            float:right;
            clear:both;
            text-align:center;
            display:block;
            width:13px;
            height:14px;
            color:#5dc8da;
            font-weight:bold;
            text-decoration:none;
            -webkit-border-radius:3px;
            margin:0px 3px 0px 0px;
        }
        .up-nav-bar .profiles .wrapper div div a.close:hover{
            background:#FFFFFF;
        }
        .up-nav-bar div.add-profile{
            position:absolute;
            top:8px;
            left:120px;
            display:none;
        }
        .up-nav-bar div.add-profile a{
            display:block;
            width:46px;
            height:46px;
            background:url("../images/ui/add-profile.png") no-repeat center center;
        }
        .up-nav-bar div.add-profile a:hover{
            background:url("../images/ui/add-profile-hover.png") no-repeat center center;
        }
        .up-nav-bar div.add-profiles{
            display:none;
            position:absolute;
            top:40px;
            left:104px;
            width:76px;
        }
        .up-nav-bar div.add-profiles .top{
            background:url("../images/ui/add-profiles_01.png") no-repeat top;
            height:39px;
            display:block;
        }
        .up-nav-bar div.add-profiles .inner{
            background:url("../images/ui/add-profiles_02.png") repeat-y;
            display:block;
        }
        .up-nav-bar div.add-profiles .inner img{
            display:inline-block;
            margin:0px 23px;
            cursor:pointer;
        }
        .up-nav-bar div.add-profiles .bottom{
            background:url("../images/ui/add-profiles_03.png") no-repeat bottom;
            height:30px;
            display:block;
        }

        /* CONTENT */
        #content-wrapper .left-nav-bar{
            position:absolute;
            float:left;
            width:125px;
            background:url("../images/ui/bg-submenu1.png") repeat-y center center;
        }
        #content-wrapper .left-nav-bar .item{
            display:block;
            width:124px;
            height:103px;
            background:url("../images/ui/left-menu-item-bg_standard.png") no-repeat;
            cursor:pointer;
        }
        #content-wrapper .left-nav-bar .item:first-child{
            margin-top:0px;
        }
        #content-wrapper .left-nav-bar .item:hover, #content-wrapper .left-nav-bar .active{
            background:url("../images/ui/left-menu-item-bg_hover.png") no-repeat;
        }
        #content-wrapper .left-nav-bar .item img{
            position:relative;
            margin-top:10px;
        }
        #content-wrapper .left-nav-bar .item span{
            display:block;
            color:#FFFFFF;
            text-align:center;
        }
        #content-wrapper{
            position:absolute;
            top:55px;
            left:0px;
            z-index:0;
        }
        #content-wrapper .content{
            position:absolute;
            left:116px;
            background:url("../images/ui/bg-content1.png") no-repeat 0px center;
            min-height:100%;
            z-index:10;
        }
        #content-wrapper .content .start{
            display:block;
            margin:10px auto 0px auto;
        }
        #content-wrapper .content div.sub-cats{
            float:left;
            width:132px;
            margin-top:45px;
            margin-left:8px;
            background:#FFFFFF;
        }
        #content-wrapper .content div.sub-cats ul{
            list-style:none;
            margin:0px;
            padding:0px;
            color:#FFFFFF;
            text-align:right;
            font-size:13px;
        }
        #content-wrapper .content div.sub-cats ul li{
            display:block;
            margin:4px 0px 5px 0px;
            padding:1px 5px 1px 0px;
            color:#000000;
            background:url("../images/ui/sub-cat-bg.png") #FFFFFF right top;
        }
        #content-wrapper .content .inner{
            float:left;
            margin:0px 0px 0px 0px;
            overflow:auto;
        }
        #content-wrapper .content .inner .profile-content-wrapper{
            display:none;
            background:#FFFFFF;
        }
        #content-wrapper .content .inner .profile-content-wrapper .profile-content{
            background:url("../images/ui/profile-content-top-bg1.png") no-repeat 0px 0px #ECECEC;
            display:inline-block;
            width:217px;
            float:left;
            clear:right;
            border-left:1px solid #e5e5e5;
            margin:2px 0px 2px 0px;
            border-right:10px solid #FFFFFF;
            padding-top:43px;
        }
        #content-wrapper .content .inner .profile-content-wrapper .profile-content span,
        #content-wrapper .content .inner .profile-content-wrapper .profile-content input{
            display:block;
            background:#FFFFFF;
            margin:4px 4px 5px 4px;
            padding:0px 0px 0px 4px;
            font-size:13px;
            min-height:15px;
            min-width:204px;
            border:1px solid #FFFFFF;
        }
        #content-wrapper .content .inner .profile-content-wrapper .profile-content span:hover,
        #content-wrapper .content .inner .profile-content-wrapper .profile-content input:hover{
            border:1px inset #E2E2E2;
            color:#CCCCCC;
            cursor:text;
        }
        #content-wrapper .content .inner .profile-content-wrapper .profile-content input:focus,
        #content-wrapper .content .inner .profile-content-wrapper .profile-content input:active{
            color:#000000;
            border:1px solid #FFFFFF;
        }

        /* SCROLLBARS FROM CONTENT */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track:horizontal{
            background:url("../images/ui/1px-white.png") repeat-x 0px 4px;
        }
        ::-webkit-scrollbar-track:vertical{
            background:url("../images/ui/1px-white.png") repeat-y 4px 0px;
        }
        ::-webkit-scrollbar-button:start:decrement,
        ::-webkit-scrollbar-button:end:increment  {
            height: 0px;
            width:0px;
            display: block;
            background:none;
        }
        ::-webkit-scrollbar-track-piece  {
            background:none;
            -webkit-border-radius: 3px;
        }
        ::-webkit-scrollbar-corner{
            background:none;
        }
        ::-webkit-scrollbar-thumb:vertical
        {
            background-color: #2f383b;
            border: 0px solid #eee;
            -webkit-border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb:horizontal{
            background-color: #2f383b;
            border: 0px solid #eee;
            -webkit-border-radius: 5px;
        }